<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoVademecum"
        tools:targetApi="31">
        <activity
            android:name=".NotasActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityRegister"
            android:exported="false" />
        <activity
            android:name=".Mainbusqueda"
            android:exported="false" />
        <activity
            android:name=".Mainespecialista"
            android:exported="false" />
        <activity
            android:name=".Mainnatural"
            android:exported="false" />
        <activity
            android:name=".ActivityLogin"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.ProyectoVademecum" />
        <activity
            android:name=".PreescripcionGRD"
            android:exported="false" />
        <activity
            android:name=".OpcionesporMed"
            android:exported="false" />
        <activity
            android:name=".MedicamentoAgr"
            android:exported="false" />
        <activity
            android:name=".AgregarMedica"
            android:exported="false" />
        <activity
            android:name=".Preescripción"
            android:exported="false" />
        <activity
            android:name=".NuevaPree"
            android:exported="false">
        </activity>
        <activity
            android:name=".AbrirAppActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>